*.pdf filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/Computer[[:space:]]System/linux-network-performance-parameters-master/LICENSE filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
